
/*  Skill Badge Styling  */

.skillbadge {
    margin: 3px;
    display: table;
    font-family: sans-serif;
    font-size: 9pt;
    overflow: hidden;
    color: #e1e1e1;
    background-color: #5b5b61;
    -ms-border-radius: 3px;
    border-radius: 3px;
}

.skillbadge-row {
    display: table-row;
}

.skillbadge-row > div {
  display: table;
}

.skillbadge-cell {
  display: table-cell;
  padding: 3px 8px;
  font-size: 10pt;
}

.skillbadge-cell-small {
  font-size: 8pt;
}

.skillbadge-cell-small > .glyphicon {
  padding: 0 2px;
}

.skillbadge-icon {
    background-color: #00adda;
    padding: 4px 6px;
    font-family: 'Glyphicons Halflings';
    vertical-align: middle;
    color: white;
    position: relative;
    display: table-cell;
}